<div class='component4 pd8' v-if='tabIdx == 4'>
    <div class='support-text'>
        설계계획 입력수정
    </div>
    <div>
        <textarea class="form-control" rows="4">[[design_content]]</textarea>
    </div>

    <div class='aflex mt20'>
        <div class='fx1 subitem'>
            <div class='support-text'>
                설계구성요소 입력수정
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <td>
                            <input type="checkbox">
                        </td>
                        <td>코드</td>
                        <td>평가방법</td>
                        <td>내용</td>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item in condition_list">
                        <td>
                            <input type="checkbox">
                        </td>
                        <td>[[item.c_code]]</td>
                        <td>[[item.c_method]]</td>
                        <td>[[item.c_content]]</td>
                    </tr>
                </tbody>
            </table>
            <div class='null-info' v-if="condition_list.length == 0">
                설계구성요소가 존재하지 않습니다<br>
            </div>
            <div class='support-text'>
                설계제한조건 입력수정
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <td>
                            <input type="checkbox">
                        </td>
                        <td>코드</td>
                        <td>평가방법</td>
                        <td>내용</td>
                    </tr>
                </thead>
                <tbody>
                        <tr v-for="item in struct_list">
                        <td>
                            <input type="checkbox">
                        </td>
                        <td>[[item.s_code]]</td>
                        <td>[[item.s_method]]</td>
                        <td>[[item.s_content]]</td>
                    </tr>
                </tbody>
            </table>
            <div class='null-info' v-if="struct_list.length == 0">
                설계제한조건이 존재하지 않습니다<br>
            </div>
        </div>
        <div class='fx1 subitem'>
            <div class='support-text'>
                평가내용 입력수정
            </div>
            <div>
                <textarea class="form-control" rows="4">[[check_content]]</textarea>
            </div>
            <div class='support-text mt30'>
                보고서내용 입력수정
            </div>
            <div>
                <textarea class="form-control" rows="4">[[report_content]]</textarea>
            </div>
            <div class='support-text mt30'>
                수행일정 입력수정
            </div>
            <div>
                <textarea class="form-control" rows="4">[[exe_content]]</textarea>
            </div>
        </div>
    </div>
    
</div>