<div class='component1 pd8' v-if='tabIdx == 1'>
    <div class='support-text'>
        개설교과목 정보 조회
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <td>개설학년</td>
                <td>교과구분</td>
                <td>교과목코드</td>
                <td>교과목명</td>
                <td>요일</td>
                <td>강의시간</td>
                <td>건물명</td>
                <td>강의실명</td>
                <td>개설학과명</td>
                <td>학점</td>
            </tr>
        </thead>
        <tbody>
            <tr v-for="item in timeItems">
                <td>[[item.grade]]</td>
                <td>[[item.subject_type]]</td>
                <td>[[item.subject_code]]</td>
                <td>[[item.subject_name]]</td>
                <td>[[item.subject_day]]</td>
                <td>[[item.full_time]]</td>
                <td>[[item.building]]</td>
                <td>[[item.class_name]]</td>
                <td>[[item.make_department]]</td>
                <td>[[item.subject_point]]</td>
            </tr>
        </tbody>
    </table>
    <div class='null-info' v-if="timeItems.length == 0">
        개설교과목 정보가 존재하지 않습니다<br>
        분반을 선택해주세요
    </div>

    <div class='support-text'>
        교과목개요 입력수정
    </div>
    <div>
        <textarea class="form-control" rows="3">[[timeBotArea]]</textarea>
    </div>
    <div class='war-text2'>
        <div>영문으로 입력하십시오! 영문교수계획표로 복사될 항목입니다</div>
        <div>장애학생의 경우 장애학생지원센터와 강의 및 과제에 대한 사전 협의가 가능합니다</div>
    </div>

    <div class='support-text mt15'>
        교과목 목표별 교육방법 및 평가방법 수정
    </div>
    <table class="table table-bordered">
        <thead>
            <tr class='tac'>
                <td colspan="3">교과목목표</td>
                <td colspan="10">교육방법</td>
                <td colspan='9'>평가방법</td>
            </tr>
            <tr class='tac'>
                <td>번호</td>
                <td>교과목 목표내역</td>
                <td>핵심역량</td>

                <td>강의</td>
                <td>토론</td>
                <td>실험</td>
                <td>온라인</td>
                <td>발표</td>
                <td>예/체능</td>
                <td>세미나</td>
                <td>연구</td>
                <td>설계</td>
                <td>기타</td>

                <td>출석</td>
                <td>중간고사</td>
                <td>기말고사</td>
                <td>과제물</td>
                <td>퀴즈</td>
                <td>발표</td>
                <td>보고서</td>
                <td>실기</td>
                <td>기타</td>
            </tr>
        </thead>
        <tbody>
            <tr class='tac' v-for="item in checkItems">
                <td>[[item.cnt]]</td>
                <td>[[item.target_name]]</td>
                <td>[[item.core_point]]</td>

                <td>
                    <input v-if="item.e_course == 'Y'" checked type="checkbox">
                    <input v-if="item.e_course == 'N'" type="checkbox">
                </td>
                <td>
                    <input v-if="item.e_discussion == 'Y'" checked type="checkbox">
                    <input v-if="item.e_discussion == 'N'" type="checkbox">
                </td>
                <td>
                    <input v-if="item.e_experiment == 'Y'" checked type="checkbox">
                    <input v-if="item.e_experiment == 'N'" type="checkbox">
                </td>
                <td>
                    <input v-if="item.e_online == 'Y'" checked type="checkbox">
                    <input v-if="item.e_online == 'N'" type="checkbox">
                </td>
                <td>
                    <input v-if="item.e_presentation == 'Y'" checked type="checkbox">
                    <input v-if="item.e_presentation == 'N'" type="checkbox">
                </td>
                <td>
                    <input v-if="item.e_art == 'Y'" checked type="checkbox">
                    <input v-if="item.e_art == 'N'" type="checkbox">
                </td>
                <td>
                    <input v-if="item.e_seminar == 'Y'" checked type="checkbox">
                    <input v-if="item.e_seminar == 'N'" type="checkbox">
                </td>
                <td>
                    <input v-if="item.e_study == 'Y'" checked type="checkbox">
                    <input v-if="item.e_study == 'N'" type="checkbox">
                </td>
                <td>
                    <input v-if="item.e_design == 'Y'" checked type="checkbox">
                    <input v-if="item.e_design == 'N'" type="checkbox">
                </td>
                <td>
                    <input v-if="item.e_other == 'Y'" checked type="checkbox">
                    <input v-if="item.e_other == 'N'" type="checkbox">
                </td>
                <td class='disable-td'>
                    <input v-if="item.w_attendance == 'Y'" checked type="checkbox" disabled>
                    <input v-if="item.w_attendance == 'N'" type="checkbox" disabled>
                </td>
                <td>
                    <input v-if="item.w_middle_exam == 'Y'" checked type="checkbox">
                    <input v-if="item.w_middle_exam == 'N'" type="checkbox">
                </td>
                <td>
                    <input v-if="item.w_final_exam == 'Y'" checked type="checkbox">
                    <input v-if="item.w_final_exam == 'N'" type="checkbox">
                </td>
                <td>
                    <input v-if="item.w_project == 'Y'" checked type="checkbox">
                    <input v-if="item.w_project == 'N'" type="checkbox">
                </td>
                <td>
                    <input v-if="item.w_quiz == 'Y'" checked type="checkbox">
                    <input v-if="item.w_quiz == 'N'" type="checkbox">
                </td>
                <td>
                    <input v-if="item.w_presentation == 'Y'" checked type="checkbox">
                    <input v-if="item.w_presentation == 'N'" type="checkbox">
                </td>
                <td>
                    <input v-if="item.w_report == 'Y'" checked type="checkbox">
                    <input v-if="item.w_report == 'N'" type="checkbox">
                </td>
                <td>
                    <input v-if="item.w_practical == 'Y'" checked type="checkbox">
                    <input v-if="item.w_practical == 'N'" type="checkbox">
                </td>
                <td>
                    <input v-if="item.w_other == 'Y'" checked type="checkbox">
                    <input v-if="item.w_other == 'N'" type="checkbox">
                </td>
            </tr>

        </tbody>
    </table>
    <div class='null-info' v-if="timeItems.length == 0">
        교과목 표별 교육방법 및 평가방법 정보가 존재하지 않습니다<br>
        분반을 선택해주세요
    </div>
    <div class='war-text2'>
        <div>교과목목표의 평가방법(출석태도)는 선택하실 수 없습니다</div>
    </div>
</div>