<div class='component3 pd8' v-if='tabIdx == 3'>
    <div class='war-text mt10'>
        <div>영문으로 입력하십시오! 영문교수계획표로 복사될 항목입니다</div>
        <div>주별 강의계획은 수강신청에 활용되는 주요정보이므로 충실하게 작성하여 주시기 바랍니다</div>
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <td></td>
                <td>강의내용 입력수정</td>
                <td>실험 및 과제내용 입력수정</td>
            </tr>
        </thead>
        <tbody>
                <tr>
                    <td>제 1주</td>
                    <td>
                            <textarea class="form-control" rows="2">[[WeekItems.week1_course]]</textarea>
                    </td>
                    <td>
                            <textarea class="form-control" rows="2">[[WeekItems.week1_practice]]</textarea>
                    </td>
                </tr>
    
                <tr>
                    <td>제 2주</td>
                    <td>
                            <textarea class="form-control" rows="2">[[WeekItems.week2_course]]</textarea>
                    </td>
                    <td>
                            <textarea class="form-control" rows="2">[[WeekItems.week1_practice]]</textarea>
                    </td>
                </tr>
    
                <tr>
                    <td>제 3주</td>
                    <td>
                            <textarea class="form-control" rows="2">[[WeekItems.week3_course]]</textarea>
                    </td>
                    <td>
                            <textarea class="form-control" rows="2">[[WeekItems.week2_practice]]</textarea>
                    </td>
                </tr>
    
                <tr>
                    <td>제 4주</td>
                    <td>
                            <textarea class="form-control" rows="2">[[WeekItems.week4_course]]</textarea>
                    </td>
                    <td>
                            <textarea class="form-control" rows="2">[[WeekItems.week3_practice]]</textarea>
                    </td>
                </tr>
    
                <tr>
                    <td>제 5주</td>
                    <td>
                            <textarea class="form-control" rows="2">[[WeekItems.week5_course]]</textarea>
                    </td>
                    <td>
                            <textarea class="form-control" rows="2">[[WeekItems.week4_practice]]</textarea>
                    </td>
                </tr>
    
                <tr>
                    <td>제 6주</td>
                    <td>
                            <textarea class="form-control" rows="2">[[WeekItems.week6_course]]</textarea>
                    </td>
                    <td>
                            <textarea class="form-control" rows="2">[[WeekItems.week5_practice]]</textarea>
                    </td>
                </tr>
    
                <tr>
                    <td>제 7주</td>
                    <td>
                            <textarea class="form-control" rows="2">[[WeekItems.week7_course]]</textarea>
                    </td>
                    <td>
                            <textarea class="form-control" rows="2">[[WeekItems.week6_practice]]</textarea>
                    </td>
                </tr>
    
                <tr>
                    <td>제 8주</td>
                    <td>
                            <textarea class="form-control" rows="2">[[WeekItems.week8_course]]</textarea>
                    </td>
                    <td>
                            <textarea class="form-control" rows="2">[[WeekItems.week7_practice]]</textarea>
                    </td>
                </tr>

                <tr>
                    <td>제 9주</td>
                    <td>
                            <textarea class="form-control" rows="2">[[WeekItems.week9_course]]</textarea>
                    </td>
                    <td>
                            <textarea class="form-control" rows="2">[[WeekItems.week8_practice]]</textarea>
                    </td>
                </tr>
    
                <tr>
                    <td>제 10주</td>
                    <td>
                            <textarea class="form-control" rows="2">[[WeekItems.week10_course]]</textarea>
                    </td>
                    <td>
                            <textarea class="form-control" rows="2">[[WeekItems.week10_practice]]</textarea>
                    </td>
                </tr>
    
                <tr>
                    <td>제 11주</td>
                    <td>
                            <textarea class="form-control" rows="2">[[WeekItems.week11_course]]</textarea>
                    </td>
                    <td>
                            <textarea class="form-control" rows="2">[[WeekItems.week11_practice]]</textarea>
                    </td>
                </tr>
    
                <tr>
                    <td>제 12주</td>
                    <td>
                            <textarea class="form-control" rows="2">[[WeekItems.week12_course]]</textarea>
                    </td>
                    <td>
                            <textarea class="form-control" rows="2">[[WeekItems.week12_practice]]</textarea>
                    </td>
                </tr>
    
                <tr>
                    <td>제 13주</td>
                    <td>
                            <textarea class="form-control" rows="2">[[WeekItems.week13_course]]</textarea>
                    </td>
                    <td>
                            <textarea class="form-control" rows="2">[[WeekItems.week13_practice]]</textarea>
                    </td>
                </tr>
    
                <tr>
                    <td>제 14주</td>
                    <td>
                            <textarea class="form-control" rows="2">[[WeekItems.week14_course]]</textarea>
                    </td>
                    <td>
                            <textarea class="form-control" rows="2">[[WeekItems.week14_practice]]</textarea>
                    </td>
                </tr>

                <tr>
                    <td>제 15주</td>
                    <td>
                            <textarea class="form-control" rows="2">[[WeekItems.week15_course]]</textarea>
                    </td>
                    <td>
                            <textarea class="form-control" rows="2">[[WeekItems.week15_practice]]</textarea>
                    </td>
                </tr>
        
    
                <tr>
                    <td>제 16주</td>
                    <td>
                            <textarea class="form-control" rows="2">[[WeekItems.week16_course]]</textarea>
                    </td>
                    <td>
                            <textarea class="form-control" rows="2">[[WeekItems.week16_practice]]</textarea>
                    </td>
                </tr>
            
        </tbody>
    </table>
</div>