<%inherit file="../common/frame.html"/>

<%block name="css">
<style>
    .main-con{
    }
    .aflex{
        display: flex;
    }
    .aitem{
        margin-left: 10px;
        margin-right: 10px;
    }
    .fz10{
        font-size: 10px;
    }
    .fz12{
        font-size: 12px;
    }
    .fx2{
        flex: 2;
    }
    .fx1{
        flex: 1;
    }
    .fx05{
        flex: 0.5;
    }
    .debug{
        border: solid 1px red;
    }
    .subitem{
        margin-left: 5px;
        margin-right: 5px;
    }
    table{
        font-size: 10px;
    }
    td{
        padding: 8px !important;
    }
    .support-text{
        font-size: 10px;
        margin-bottom: 5px;
        color: #1147da;
    }
    .w120{
        width: 120px;
    }
    .w140{
        width: 140px;
    }
    .w220{
        width: 220px;
    }
    .component1{

    }
    .component2{

    }
    .component3{

    }
    .component4{

    }
    .mt15{
        margin-top: 15px;
    }
    .pd8{
        padding: 8px;
    }
    .war-text{
        font-size: 10px;
        margin-bottom: 5px;
        color: red;
        text-align: center;
    }
    .war-text2{
        font-size: 10px;
        text-align: right;
        color: red;
    }
    .mt10{
        margin-bottom: 10px;
    }
    .mt20{
        margin-top: 20px;
    }
    .mt30{
        margin-top: 30px;
    }
    .mr5{
        margin-right: 5px;
    }
    .ui-menu{
        background: #242e3c;
        color: #ffffff;
        border-radius: 5px;
        width: 200px;
        display: block;
        padding-top: 10px;
        padding-bottom: 10px;
        cursor: pointer;
    }
    .ui-menu-item{
        list-style-type: none;
        margin-left: -20px;
    }
    .null-info{
        border: solid 1px white;
        text-align: center;
        padding: 20px;
        font-size: 12px;
        color: #ff7207;
        margin-bottom: 20px;
    }
    #class_table > tbody > tr{
        cursor: pointer;
    }
    .disable-td{
        background-color: #e1e9ff;
    }
    .tac{
        text-align: center;
    }
    .tar{
        text-align: right;
    }
    .itf{
        padding: 2px !important;
        font-size: 10px !important;
        text-align: center !important;
    }
</style>
</%block>

<%block name="title">교수계획표</%block>
<%block name="subtitle">공학 교수계획표 관리</%block>

<%block name="content">
<div class='main-con' id='vue'>
    <div class='aflex fz10'>
        <div class="form-group aitem fx05">
            <label>학년도</label>
            <select class="form-control fz12" id="year">
                <option value='2019'>2019</option>
            </select>
        </div>
        <div class="form-group aitem fx05">
            <label>학기</label>
            <select class="form-control fz12" id="season">
                <option value='1'>1학기</option>
                <option value='2'>2학기</option>
            </select>
        </div>
        <div class="form-group aitem fx1">
            <label>교수번호</label>
            <input type="text" class="form-control fz12" id="pro_num" placeholder="CP001">
        </div>
        <div class="form-group aitem fx1">
            <label>교수명</label>
            <input type="text" class="form-control fz12" id="pro_name" placeholder="자동입력" disabled>
        </div>
        <div class="form-group aitem fx2">
            <label>교과목명</label>
            <select class="form-control fz12" id="display_name">
                <option value='0'>교과목을 선택해주세요</option>
            </select>
        </div>
        <div class="form-group aitem fx1">
            <label>인증구분</label>
            <select class="form-control fz12" id="auth_type">
                <option value='공학교육인증'>공학교육인증</option>
            </select>
        </div>
    </div>

    <div class='aflex'>
        <div class='fx1 subitem'>
            <div class='support-text'>
                분반선택 후 입력 (기준구분별 학습성과 및 평가방법이 달라짐)
            </div>
            <table class="table table-bordered" id='class_table'>
                <thead>
                    <tr>
                        <td>분반</td>
                        <td>인증구분</td>
                        <td>기준구분</td>
                        <td>인증이수구분</td>
                        <td>설계이수구분</td>
                        <td>설계학점</td>
                    </tr>
                </thead>
                <tbody>
                    <tr class='cl-group' :id='[[item.id]]' v-for="item in leftItems" v-on:click="selectClass($event)">
                        <td>[[item.class_code]]</td>
                        <td>[[item.cert_type]]</td>
                        <td>[[item.base_type]]</td>
                        <td>[[item.auth_type]]</td>
                        <td>[[item.design_type]]</td>
                        <td>[[item.design_point]]</td>
                    </tr>
                </tbody>
            </table>
            <div class='null-info' v-if="leftItems.length == 0">
                분반이 존재하지 않습니다<br>
                강좌명을 선택해주세요
            </div>
        </div>
        <div class='fx1 subitem'>
            <div class='support-text'>
                교과목담당교수 / 책임교수 정보조회
            </div>
            <table class="table table-bordered" id='target_table'>
                <thead>
                    <tr>
                        <td>구분</td>
                        <td>교수번호</td>
                        <td>교수명</td>
                        <td>소속학과명</td>
                        <td>교내번호</td>
                        <td>이메일</td>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item in rightItems">
                        <td>[[item.professor_type]]</td>
                        <td>[[item.professor_number]]</td>
                        <td>[[item.professor_name]]</td>
                        <td>[[item.department_name]]</td>
                        <td>[[item.school_number]]</td>
                        <td>[[item.email]]</td>
                    </tr>
                </tbody>
            </table>
            <div class='null-info' v-if="rightItems.length == 0">
                담당교수/참여교수가 존재하지 않습니다<br>
                분반을 선택해주세요
            </div>
        </div>
    </div>

    <div class='aflex'>
        <button v-on:click="changeTap(1)" v-if="tabIdx==1" class="subitem w120 md-btn md-raised mb-2 w-xs indigo">교과목 기본정보</button>
        <button v-on:click="changeTap(1)" v-if="tabIdx!=1" class="subitem w120 md-btn md-raised mb-2 w-xs white">교과목 기본정보</button>

        <button v-on:click="changeTap(2)" v-if="tabIdx==2" class="subitem w220 md-btn md-raised mb-2 w-xs indigo">학습성과 / 학습평가방법 / 강의정보</button>
        <button v-on:click="changeTap(2)" v-if="tabIdx!=2" class="subitem w220 md-btn md-raised mb-2 w-xs white">학습성과 / 학습평가방법 / 강의정보</button>

        <button v-on:click="changeTap(3)" v-if="tabIdx==3" class="subitem md-btn md-raised mb-2 w-xs indigo">주별계획</button>
        <button v-on:click="changeTap(3)" v-if="tabIdx!=3" class="subitem md-btn md-raised mb-2 w-xs white">주별계획</button>

        <button v-on:click="changeTap(4)" v-if="tabIdx==4" class="subitem w140 md-btn md-raised mb-2 w-xs indigo">Term Project</button>
        <button v-on:click="changeTap(4)" v-if="tabIdx!=4" class="subitem w140 md-btn md-raised mb-2 w-xs white">Term Project</button>
    </div>

    <div class='tar'>
            <button class="btn btn-fw success" v-on:click="saveValue()">
                <i class="fa fa-check mr5"></i>
                저장
            </button>
    </div>

    <!-- component start -->
    <%include file="component1.html"/>
    <!-- component end -->

    <!-- component start -->
    <%include file="component2.html"/>
    <!-- component end -->

    <!-- component start -->
    <%include file="component3.html"/>
    <!-- component end -->

    <!-- component start -->
    <%include file="component4.html"/>
    <!-- component end -->
    
</div>
</%block>

<%block name="js">
<script>
var app = new Vue({
    el: '#vue',
    delimiters: ['[[', ']]'],
    created () {
        console.log('hello vue');
    },
    data: {
        items: [],
        tabIdx: 1,
        selectClassID: 0,
        leftItems: [],
        rightItems: [],
        timeItems: [],
        timeBotArea: '',
        checkItems: [],
        WeekItems: {
            'week1_course': '',
            'week2_course': '',
            'week3_course': '',
            'week4_course': '',
            'week5_course': '',
            'week6_course': '',
            'week7_course': '',
            'week8_course': '',
            'week9_course': '',
            'week10_course': '',
            'week11_course': '',
            'week12_course': '',
            'week13_course': '',
            'week14_course': '',
            'week15_course': '',
            'week16_course': '',
            'week1_practice': '',
            'week2_practice': '',
            'week3_practice': '',
            'week4_practice': '',
            'week5_practice': '',
            'week6_practice': '',
            'week7_practice': '',
            'week8_practice': '',
            'week9_practice': '',
            'week10_practice': '',
            'week11_practice': '',
            'week12_practice': '',
            'week13_practice': '',
            'week14_practice': '',
            'week15_practice': '',
            'week16_practice': ''
        },
        left_list: {
            'task': '',
            'final_exam': '',
            'other': '',
            'presentation': '',
            'report': '',
            'practical': '',
            'middle_exam': '',
            'attendance': '',
            'quiz': ''
        },
        right_list: {
            'consult_time': '',
            'pre_knowledge': '',
            'main_note': '',
            'sub_note1': '',
            'sub_note2': '',
            'sub_note3': '',
            'ref_web': '',
            'select_book': ''
        },
        bottom_list: [],
        pre_content: '',
        test_content: '',
        design_content: '',
        check_content: '',
        report_content: '',
        exe_content: '',
        condition_list: [],
        struct_list: [],
    },
    methods: {
        changeTap: function(tabIdx){

            if(app.selectClassID == 0){
                Swal.fire({
                    type: 'warning',
                    title: '알림',
                    text: '분반을 먼저 선택해야합니다',
                    confirmButtonColor: "#f8bb86", 
                })
                return false;
            }

            this.tabIdx = tabIdx;

            if(tabIdx == 1){
                app.selectClass();
            }
            else if(tabIdx == 2){
                app.loadTwo();
            }
            else if(tabIdx == 3){
                app.loadThree();
            }
            else if(tabIdx == 4){
                app.loadFour();
            }

        },
        loadTwo: function(){

            var csrf_token = $('#csrf_token').val();
            var class_id = app.selectClassID;

            $.post( "/api_getTwoTab", { 
                csrfmiddlewaretoken: csrf_token, 
                class_id: class_id
            })
            .done(function( data ) {
                app.left_list = data.left_list;
                app.right_list = data.right_list;
                app.bottom_list = data.bottom_list;
                app.pre_content = data.pre_content;
                app.test_content = data.test_content;
            });

        },
        loadThree: function(){

            var csrf_token = $('#csrf_token').val();
            var class_id = app.selectClassID;

            console.log('class_id -> ', class_id);

            $.post( "/api_getWeek", { 
                csrfmiddlewaretoken: csrf_token, 
                class_id: class_id
            })
            .done(function( data ) {
                console.log('data.result -> ', data.result);
                app.WeekItems = data.result[0];
            });

        },
        loadFour: function(){

            var csrf_token = $('#csrf_token').val();
            var class_id = app.selectClassID;

            console.log('class_id -> ', class_id);

            $.post( "/api_getFourTab", { 
                csrfmiddlewaretoken: csrf_token, 
                class_id: class_id
            })
            .done(function( data ) {
                console.log('data -> ', data);
                app.design_content = data.design_content;
                app.check_content = data.check_content;
                app.report_content = data.report_content;
                app.exe_content = data.exe_content;
                app.condition_list = data.condition_list;
                app.struct_list = data.struct_list;
            });

        },
        loadClassList: function(course_id){
            console.log('course_id -> ', course_id);
            var csrf_token = $('#csrf_token').val();

            $.post( "/api_getClass", { 
                csrfmiddlewaretoken: csrf_token, 
                course_id: course_id
            })
            .done(function( data ) {
                console.log('data.result -> ', data.result);
                app.leftItems = data.result;

                // init
                app.rightItems = [];
                app.timeItems = [];
                $('.cl-group').css('background-color', '#ffffff');
            });
        },
        selectClass: function(e){
            
            try{
               var class_id = e.currentTarget.id;
            } catch(e){
                console.log('e -> ', e);
                var class_id = app.selectClassID
            }
            
            var csrf_token = $('#csrf_token').val();

            $('.cl-group').css('background-color', '#ffffff');
            $('#' + class_id).css('background-color', '#dcedff');

            app.selectClassID = class_id;

            $.post( "/api_getProList", {
                csrfmiddlewaretoken: csrf_token, 
                class_id: class_id
            })
            .done(function( data ) {
                console.log('data -> ', data);
                app.rightItems = data.result;
            })

            $.post( "/api_getTime", {
                csrfmiddlewaretoken: csrf_token, 
                class_id: class_id
            })
            .done(function( data ) {
                console.log('data -> ', data);
                app.timeItems = data.result;
                app.timeBotArea = data.content;
            })

            $.post( "/api_getCheck", {
                csrfmiddlewaretoken: csrf_token, 
                class_id: class_id
            })
            .done(function( data ) {
                console.log('data -> ', data);
                app.checkItems = data.result;
            })

            app.loadTwo();
            app.loadThree();
            app.loadFour();
        },
        saveValue: function(){
            var csrf_token = $('#csrf_token').val();
            var select_id = app.selectClassID;
            var tabIdx = app.tabIdx;

            console.log('select_id -> ', select_id);
            console.log('tabIdx -> ', tabIdx);

            if(select_id == 0){
                Swal.fire({
                    type: 'warning',
                    title: '알림',
                    text: '분반을 먼저 선택해야합니다',
                    confirmButtonColor: "#f8bb86", 
                })
                return false;
            }

            if(tabIdx == 1){
                var dump_truck = [];
                var one_top = $('#one_top').val();
                for(var i=0; i<$('.target-list').length; i++){
                    var id = $('.target-list').eq(i).attr('id');
                    var x1 = $('#x1_' + id).is(":checked");
                    var x2 = $('#x2_' + id).is(":checked");
                    var x3 = $('#x3_' + id).is(":checked");
                    var x4 = $('#x4_' + id).is(":checked");
                    var x5 = $('#x5_' + id).is(":checked");
                    var x6 = $('#x6_' + id).is(":checked");
                    var x7 = $('#x7_' + id).is(":checked");
                    var x8 = $('#x8_' + id).is(":checked");
                    var x9 = $('#x9_' + id).is(":checked");
                    var x10 = $('#x10_' + id).is(":checked");
                    var x11 = $('#x11_' + id).is(":checked");
                    var x12 = $('#x12_' + id).is(":checked");
                    var x13 = $('#x13_' + id).is(":checked");
                    var x14 = $('#x14_' + id).is(":checked");
                    var x15 = $('#x15_' + id).is(":checked");
                    var x16 = $('#x16_' + id).is(":checked");
                    var x17 = $('#x17_' + id).is(":checked");
                    var x18 = $('#x18_' + id).is(":checked");
                    var x19 = $('#x19_' + id).is(":checked");
                    tmp = {
                        'id': id,
                        'x1': x1,
                        'x2': x2,
                        'x3': x3,
                        'x4': x4,
                        'x5': x5,
                        'x6': x6,
                        'x7': x7,
                        'x8': x8,
                        'x9': x9,
                        'x10': x10,
                        'x11': x11,
                        'x12': x12,
                        'x13': x13,
                        'x14': x14,
                        'x15': x15,
                        'x16': x16,
                        'x17': x17,
                        'x18': x18,
                        'x19': x19,
                    }
                    dump_truck.push(tmp);
                }
                storn = {
                    select_id: select_id,
                    tabIdx: tabIdx,
                    dump_truck: dump_truck,
                    one_top: one_top
                }
            } else if(tabIdx == 2){
                var two_top = $('#two_top').val();
                var two_bot = $('#two_bot').val();
                var t1 = $('#t1').val();
                var t2 = $('#t2').val();
                var t3 = $('#t3').val();
                var t4 = $('#t4').val();
                var t5 = $('#t5').val();
                var t6 = $('#t6').val();
                var t7 = $('#t7').val();
                var t8 = $('#t8').val();
                var t9 = $('#t9').val();
                var t10 = $('#t10').val();
                var t11 = $('#t11').val();
                var t12 = $('#t12').val();
                var t13 = $('#t13').val();
                var t14 = $('#t14').val();
                var t15 = $('#t15').val();
                var t16 = $('#t16').val();
                var t17 = $('#t17').val();
                storn = {
                    select_id: select_id,
                    tabIdx: tabIdx,
                    two_top: two_top,
                    two_bot: two_bot,
                    t1: t1,
                    t2: t2,
                    t3: t3,
                    t4: t4,
                    t5: t5,
                    t6: t6,
                    t7: t7,
                    t8: t8,
                    t9: t9,
                    t10: t10,
                    t11: t11,
                    t12: t12,
                    t13: t13,
                    t14: t14,
                    t15: t15,
                    t16: t16,
                    t17: t17
                }
            } else if(tabIdx == 3){
                wc_list = []
                wp_list = []
                for(i=1; i<17; i++){
                    wc_list.push( $('#wc' + i).val() );
                    wp_list.push( $('#wp' + i).val() );
                }
                storn = {
                    select_id: select_id,
                    tabIdx: tabIdx,
                    wc_list: wc_list,
                    wp_list: wp_list
                }
            } else if(tabIdx == 4){
                var fff1 = $('#fff1').val();
                var fff2 = $('#fff2').val();
                var fff3 = $('#fff3').val();
                var fff4 = $('#fff4').val();

                var dump_truck1 = [];
                for(var i=0; i<$('.target-listx').length; i++){
                    var id = $('.target-listx').eq(i).attr('id');

                    console.log('id -> ', id);

                    var xx1 = $('#xx1_' + id).val();
                    var xx2 = $('#xx2_' + id).val();
                    var xx3 = $('#xx3_' + id).val();

                    console.log('xx1 -> ', xx1);
                    console.log('xx2 -> ', xx2);
                    console.log('xx3 -> ', xx3);

                    tmp = {
                        'id': id,
                        'xx1': xx1,
                        'xx2': xx2,
                        'xx3': xx3,
                    }
                    dump_truck1.push(tmp);
                }
                var dump_truck2 = [];
                for(var i=0; i<$('.target-listxx').length; i++){
                    var id = $('.target-listxx').eq(i).attr('id');
                    var xx1 = $('#xxx1_' + id).val();
                    var xx2 = $('#xxx2_' + id).val();
                    var xx3 = $('#xxx3_' + id).val();
                    tmp = {
                        'id': id,
                        'xxx1': xx1,
                        'xxx2': xx2,
                        'xxx3': xx3,
                    }
                    dump_truck2.push(tmp);
                }
                storn = {
                    select_id: select_id,
                    tabIdx: tabIdx,
                    fff1: fff1,
                    fff2: fff2,
                    fff3: fff3,
                    fff4: fff4,
                    dump_truck1: dump_truck1,
                    dump_truck2: dump_truck2,
                }
            }

            $.ajax('/api_saveData',{
                'data': JSON.stringify(storn),
                'type': 'POST',
                'beforeSend': function(xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", csrf_token);
                },
                'processData': false,
                'contentType': 'application/json'
            })
            .done(function( data ) {
                console.log('data -> ', data);
                if(data.result == 200){
                    Swal.fire({
                        type: 'success',
                        title: '완료',
                        text: '데이터가 저장되었습니다',
                        confirmButtonColor: "#28a745", 
                    })
                }
                else if(data.result == 400){
                    Swal.fire({
                        type: 'warning',
                        title: '알림',
                        text: '합습평가 비율의 합계는 100 이어야합니다',
                        confirmButtonColor: "#f8bb86", 
                    })
                }
            });
        }
    }
})

$(function(){

    // auto complete
    var availableTags = [
      "CP001",
      "CP002",
      "CP003",
      "CP004",
      "CP005",
      "CP006",
      "CP007",
      "CP008",
      "CP009",
      "CP010"
    ];
    $( "#pro_num" ).autocomplete({
      source: availableTags
    });

    // 분반 로드
    $("#display_name").change( function() {
        var course_id = $('#display_name').val();
        app.loadClassList(course_id);
    });

    // 교수명, 강좌명 로드
    $('#pro_num').focusout(function(){
        var csrf_token = $('#csrf_token').val();
        var pro_num = $('#pro_num').val();
        $.post( "/api_getProName", {
             csrfmiddlewaretoken: csrf_token, 
             pro_num: pro_num
        })
        .done(function( data ) {
            $('#pro_name').val(data.result);

            var year = $('#year').val();
            var season = $('#season').val();
            var pro_num = $('#pro_num').val();
            var auth_type = $('#auth_type').val();

            console.log('year -> ', year);
            console.log('season -> ', season);
            console.log('pro_num -> ', pro_num);
            console.log('auth_type -> ', auth_type);

            $.post( "/api_getCourse", {
                csrfmiddlewaretoken: csrf_token, 
                year: year,
                season: season,
                pro_num: pro_num,
                auth_type: auth_type,
            })
            .done(function( data ) {
                console.log('data -> ', data);

                // init
                $('.course-option').remove();

                var r = data.result
                for(var i=0; i<r.length; i++){
                    var option = $("<option class='course-option' value='"+ r[i].id +"'>"+ r[i].display_name+"</option>");
                    $('#display_name').append(option);
                }
            });
        });
    });
});
</script>
</%block>
