<div class='component4 pd8' v-if='tabIdx == 4'>
    <div class='support-text'>
        설계계획 입력수정
    </div>
    <div>
        <textarea id='fff1' class="form-control" rows="4" :value='[[design_content]]'></textarea>
    </div>

    <div class='aflex mt20'>
        <div class='fx1 subitem'>
            <div class='support-text'>
                설계구성요소 입력수정
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <td>코드</td>
                        <td>평가방법</td>
                        <td>내용</td>
                    </tr>
                </thead>
                <tbody>
                    <tr class='target-listx' v-for="item in condition_list" :id="[[item.id]]">
                        <td>
                                <input :id="[['xx1_'+item.id]]" type='text' class='form-control itf' :value='[[item.c_code]]'>
                        </td>
                        <td>
                                <input :id="[['xx2_'+item.id]]" type='text' class='form-control itf' :value='[[item.c_method]]'>
                        </td>
                        <td>
                                <input :id="[['xx3_'+item.id]]" type='text' class='form-control itf' :value='[[item.c_content]]'>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class='null-info' v-if="condition_list.length == 0">
                설계구성요소가 존재하지 않습니다<br>
            </div>
            <div class='support-text'>
                설계제한조건 입력수정
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <td>코드</td>
                        <td>평가방법</td>
                        <td>내용</td>
                    </tr>
                </thead>
                <tbody>
                    <tr class='target-listxx' v-for="item in struct_list" :id="[[item.id]]">
                        <td>
                            <input :id="[['xxx1_'+item.id]]" type='text' class='form-control itf' :value='[[item.s_code]]'>
                        </td>
                        <td>
                            <input :id="[['xxx2_'+item.id]]" type='text' class='form-control itf' :value='[[item.s_method]]'>
                        </td>
                        <td>
                            <input :id="[['xxx3_'+item.id]]" type='text' class='form-control itf' :value='[[item.s_content]]'>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class='null-info' v-if="struct_list.length == 0">
                설계제한조건이 존재하지 않습니다<br>
            </div>
        </div>
        <div class='fx1 subitem'>
            <div class='support-text'>
                평가내용 입력수정
            </div>
            <div>
                <textarea  id='fff2' class="form-control" rows="4" :value='[[check_content]]'></textarea>
            </div>
            <div class='support-text mt30'>
                보고서내용 입력수정
            </div>
            <div>
                <textarea  id='fff3' class="form-control" rows="4" :value='[[report_content]]'></textarea>
            </div>
            <div class='support-text mt30'>
                수행일정 입력수정
            </div>
            <div>
                <textarea  id='fff4' class="form-control" rows="4" :value='[[exe_content]]'></textarea>
            </div>
        </div>
    </div>
    
</div>