<div class='component2 pd8' v-if='tabIdx == 2'>
    <div class='support-text'>
        선수과목 및 지식조회
    </div>
    <div>
        <textarea id="two_top" class="form-control" rows="3" :value='[[pre_content]]'></textarea>
    </div>

    <div class='support-text mt20'>
        학습평가방법 비율입력 (선택사항)
    </div>
    <div class='aflex'>
        <div class='fx1 subitem'>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <td>평가방법</td>
                        <td>비율(%)</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>과제물</td>
                        <td>
                                <input id="t1" type='text' class='form-control itf' :value='[[left_list.task]]'>
                        </td>
                    </tr>
                    <tr>
                        <td>기말고사</td>
                        <td>
                                <input id="t2" type='text' class='form-control itf' :value='[[left_list.final_exam]]'>
                        </td>
                    </tr>
                    <tr>
                        <td>기타</td>
                        <td>
                                <input id="t3" type='text' class='form-control itf' :value='[[left_list.other]]'>
                        </td>
                    </tr>
                    <tr>
                        <td>발표</td>
                        <td>
                                <input id="t4" type='text' class='form-control itf' :value='[[left_list.presentation]]'>
                        </td>
                    </tr>
                    <tr>
                        <td>보고서</td>
                        <td>
                                <input id="t5" type='text' class='form-control itf' :value='[[left_list.report]]'>
                        </td>
                    </tr>
                    <tr>
                        <td>실기</td>
                        <td>
                                <input id="t6" type='text' class='form-control itf' :value='[[left_list.practical]]'>
                        </td>
                    </tr>
                    <tr>
                        <td>중간고사</td>
                        <td>
                                <input id="t7" type='text' class='form-control itf' :value='[[left_list.middle_exam]]'>
                        </td>
                    </tr>
                    <tr>
                        <td>출석태도</td>
                        <td>
                                <input id="t8" type='text' class='form-control itf' :value='[[left_list.attendance]]'>
                        </td>
                    </tr>
                    <tr>
                        <td>퀴즈</td>
                        <td>
                                <input id="t9" type='text' class='form-control itf' :value='[[left_list.quiz]]'>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class='fx1 subitem'>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <td>교재</td>
                        <td>내용</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>상담시간</td>
                        <td>
                                <input id="t10" type='text' class='form-control itf' :value='[[right_list.consult_time]]'>
                        </td>
                    </tr>
                    <tr>
                        <td>선수지식</td>
                        <td>
                                <input id="t11" type='text' class='form-control itf' :value='[[right_list.pre_knowledge]]'>
                        </td>
                    </tr>
                    <tr>
                        <td>주교재</td>
                        <td>
                                <input id="t12" type='text' class='form-control itf' :value='[[right_list.main_note]]'>
                        </td>
                    </tr>
                    <tr>
                        <td>부교재1</td>
                        <td>
                                <input id="t13" type='text' class='form-control itf' :value='[[right_list.sub_note1]]'>
                        </td>
                    </tr>
                    <tr>
                        <td>부교재2</td>
                        <td>
                                <input id="t14" type='text' class='form-control itf' :value='[[right_list.sub_note2]]'>
                        </td>
                    </tr>
                    <tr>
                        <td>부교재3</td>
                        <td>
                                <input id="t15" type='text' class='form-control itf' :value='[[right_list.sub_note3]]'>
                        </td>
                    </tr>
                    <tr>
                        <td>관련웹</td>
                        <td>
                                <input id="t16" type='text' class='form-control itf' :value='[[right_list.ref_web]]'>
                        </td>
                    </tr>
                    <tr>
                        <td>지정도서</td>
                        <td>
                                <input id="t17" type='text' class='form-control itf' :value='[[right_list.select_book]]'>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
    <div class='support-text'>
        평가 관련 요구사항 입력수정 [필요 시 세부 평가방안 기재 (예: 설계 PROJECT)]
    </div>
    <div>
        <textarea id="two_bot" class="form-control" rows="2" :value='[[test_content]]'></textarea>
    </div>

    <div class='support-text mt15'>
        핵심역량 (학습성과)
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <td>성과기준번호</td>
                <td>내용</td>
                <td>반영률</td>
            </tr>
        </thead>
        <tbody>
            <tr v-for="item in bottom_list">
                <td>[[item.id]]</td>
                <td>[[item.content]]</td>
                <td>[[item.percnet]]</td>
            </tr>
        </tbody>
    </table>
    <div class='null-info' v-if="bottom_list.length == 0">
        핵심역량이 존재하지 않습니다<br>
    </div>
</div>